
`timescale 1ns / 100ps

module test;


wire  Y;

reg  A, B, C, D;



AOI22X1 top(Y, A, B, C, D); 
 

`ifdef verilog

 //please enter any additional verilog stimulus in the /home/nathan/5710/verilog_tests/aoi22_run/testfixture.verilog file
`include "/home/nathan/5710/verilog_tests/aoi22_run/testfixture.verilog"

`endif

endmodule 
