
`timescale 1ns / 100ps

module test;


wire  HI;



TIE_FIGHTER top(HI); 
 

`ifdef verilog

 //please enter any additional verilog stimulus in the /home/nathan/5710/verilog_tests/TIE_run3/testfixture.verilog file
`include "/home/nathan/5710/verilog_tests/TIE_run3/testfixture.verilog"

`endif

endmodule 
