
`timescale 1ns / 100ps

module test;


wire  Y;

reg  A;



INV1 top(Y, A); 
 

`ifdef verilog

 //please enter any additional verilog stimulus in the /home/nathan/5710/verilog_tests/INV1_run1/testfixture.verilog file
`include "/home/nathan/5710/verilog_tests/INV1_run1/testfixture.verilog"

`endif

endmodule 
