
`timescale 1ns / 100ps

module test;


wire  Y;

reg  A, B;



XOR2X1 top(Y, A, B); 
 

`ifdef verilog

 //please enter any additional verilog stimulus in the /home/nathan/5710/XOR2X1_run1/testfixture.verilog file
`include "/home/nathan/5710/XOR2X1_run1/testfixture.verilog"

`endif

endmodule 
